<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>计算器</title>
	<link rel="stylesheet" href="../css/style25.css">
</head>
<body>
	<div class="wrap">
		<p>By-Ferris QQ:21314130</p>
		<div class="show">
			
			<div class="deal" id="deal"></div>
			<div class="shizi" id="shizi"></div>
		</div>
		<div class="btns">
			<ul>
				<li class="grey"><a href="javascript:;">c</a></a></li>
				<li class="grey"><a href="javascript:;">%</a></li>
				<li class="grey"><a href="javascript:;">÷</a></li>
				<li class="grey"><a href="javascript:;">x</a></li>
				<li><a href="javascript:;">7</a></li>
				<li><a href="javascript:;">8</a></li>
				<li><a href="javascript:;">9</a></li>
				<li class="grey"><a href="javascript:;">-</a></li>
				<li><a href="javascript:;">4</a></li>
				<li><a href="javascript:;">5</a></li>
				<li><a href="javascript:;">6</a></li>
				<li class="grey"><a href="javascript:;">+</a></li>
				<li><a href="javascript:;">1</a></li>
				<li><a href="javascript:;">2</a></li>
				<li><a href="javascript:;">3</a></li>
				<li class="orange"><a href="javascript:;">=</a></li>
				<li class="big"><a href="javascript:;">0</a></li>
				<li><a href="javascript:;">.</a></li>
			</ul>
			<div class="clear"></div>
		</div>

	</div>
	<script src="../js/js25.js"></script>
</body>
</html>