<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>js的37个案列(用户按下键盘，显示keyCode)</title>
	<style>
		body{
			text-align:center;
			font:30px/1.5 \5fae\8f6f\96c5\9ed1, arial;	
		}

	</style>
</head>
<body>
	<p>这里将显示您按下键的 keyCode</p>
	<script>
		window.onload=function (){
			var oP = document.getElementsByTagName("p")[0];	
			document.onkeydown=function (event){
				var event=event || window.event;
				oP.innerHTML=event.keyCode;
				return false;
			}
		}
	</script>

</body>
</html>