<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>js的28个案列(图片轮播自动播放)</title>
	<link rel="stylesheet" href="../css/demo28.css">
</head>
<body>
	<div id="box">
	    <ul class="list">
	        <li class="current"><img src="../img/01.jpg" width="490" height="170" /></li>
	        <li><img src="../img/02.jpg" width="490" height="170" /></li>
	        <li><img src="../img/03.jpg" width="490" height="170" /></li>
	        <li><img src="../img/04.jpg" width="490" height="170" /></li>
	        <li><img src="../img/05.jpg" width="490" height="170" /></li>
	    </ul>
	    <ul class="count">
	        <li class="current">1</li>
	        <li>2</li>
	        <li>3</li>
	        <li>4</li>
	        <li>5</li>
	    </ul>
	</div>
<script src="../js/demo28.js"></script>
</body>
</html>