<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>js的44个案列</title>
	<link rel="stylesheet" href="../css/demo44.css">
</head>
<body>
	<div id="box">
	    <div class="list">
	        <ul>
	            <li><img src="../img/01.jpg" width="490" height="170" /></li>
	            <li><img src="../img/02.jpg" width="490" height="170" /></li>
	            <li><img src="../img/03.jpg" width="490" height="170" /></li>
	            <li><img src="../img/04.jpg" width="490" height="170" /></li>
	            <li><img src="../img/05.jpg" width="490" height="170" /></li>
	        </ul>
	    </div>
	</div>
<script src="../js/demo44.js"></script>
</body>
</html>