<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>全选反选</title>
	<link rel="stylesheet" href="../css/style18.css">
</head>
<body>
	<div class="wrap">
		<div>
			<input type="checkbox" id="all"><label for="all">全选</label>
			<a href="javascript:;" id="fan">反选</a>
		</div>
		<ul id="sel">
			<li>
				<input type="checkbox"><label for="">选项(一)</label>
			</li>

			<li>
				<input type="checkbox"><label for="">选项(二)</label>
			</li>

			<li>
				<input type="checkbox"><label for="">选项(三)</label>
			</li>
			<li>
				<input type="checkbox"><label for="">选项(四)</label>
			</li>
			<li>
				<input type="checkbox"><label for="">选项(五)</label>
			</li>
			<li>
				<input type="checkbox"><label for="">选项(六)</label>
			</li>
			<li>
				<input type="checkbox"><label for="">选项(七)</label>
			</li>
			<li>
				<input type="checkbox"><label for="">选项(八)</label>
			</li>
			<li>
				<input type="checkbox"><label for="">选项(九)</label>
			</li>
			<li>
				<input type="checkbox"><label for="">选项(十)</label>
			</li>
		</ul>
		
	</div>
	<center>
		1、切换全选/全不选文字;2、根据选中个数更新全选框状态;
	</center>

	<script src="../js/js18.js"></script>
</body>
</html>