<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/style2.css">
</head>
<body>
	<div class="wrap">
		<div class="top">
			<div class="btns">
				<span></span>
				<span class="aft"></span>
				<span></span>
			</div>
		</div>
		<div class="list">
			<ul id="listItem">
				<li>新闻</li>
				<li>娱乐</li>
				<li>体育</li>
				<li>电影</li>
				<li>音乐</li>
				<li>旅游</li>
			</ul>
		</div>
	</div>
	<script src="../js/js2.js"></script>
</body>
</html>