<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>js的50个案列(仿苹果电脑任务栏菜单)</title>
	<style type="text/css">
		*{
			margin:0;
			padding:0;
		}
		#menu{
			position:absolute;
			width:100%;
			bottom:0;
			text-align:center;
		}
	</style>

</head>
<body>
	<div id="menu">
		<img src="../img/1.png" />
	    <img src="../img/2.png" />
	    <img src="../img/3.png" />
	    <img src="../img/4.png" />
	    <img src="../img/5.png" />
	    <img src="../img/6.png" />
	    <img src="../img/7.png" />
	    <img src="../img/8.png" />
	</div>
<script src="../js/demo50.js"></script>
</body>
</html>