<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>js的30个案例(css函数)</title>
	<style>
		div{
			width:400px;
			height:200px;
			background:#fef4eb;
			border:1px solid #f60;
			margin:0 auto;
		}
		input{
			border:0;
			color:#fff;
			cursor:pointer;
			font-weight:700;
			background:#f60;
			padding:2px 4px;
			margin:10px 0 0 10px;
		}
	</style>

</head>
<body>
	<div id="box">
		<input type="button" value="Get Style">
		<input type="button" value="Set Style">
		<input type="button" value="Default Style">
	</div>
<script src="../js/demo30.js"></script>
</body>
</html>