<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/style17.css">
</head>
<body>
	<ul id="box">
	    <li class="first"><img src="../img/17/big_1.jpg" id="big"><div></div></li>
	    <li><a href="javascript:;"><img src="../img/17/small_1.jpg"></a></li>
	    <li><a href="javascript:;"><img src="../img/17/small_2.jpg"></a></li>
	    <li><a href="javascript:;"><img src="../img/17/small_3.jpg"></a></li>
	    <li><a href="javascript:;"><img src="../img/17/small_4.jpg"></a></li>
	    <li><a href="javascript:;"><img src="../img/17/small_5.jpg"></a></li>
	    <li><a href="javascript:;"><img src="../img/17/small_6.jpg"></a></li>
	    <li><a href="javascript:;"><img src="../img/17/small_7.jpg"></a></li>
	    <li><a href="javascript:;"><img src="../img/17/small_8.jpg"></a></li>
	    <li><a href="javascript:;"><img src="../img/17/small_9.jpg"></a></li>
	    <li><a href="javascript:;"><img src="../img/17/small_10.jpg"></a></li>
	    <li><a href="javascript:;"><img src="../img/17/small_11.jpg"></a></li>
	</ul>
	<script src="../js/js17.js"></script>
</body>
</html>