<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/style15.css">
</head>
<body>
	<div class="wrap">
		<h3 class="tab" id="tab"><span>▲</span>播放列表...</h3>
		<ul id="cont">
	        <li><a href="javascript:;">玩家之徒 - 蔡依林</a></li>
	        <li><a href="javascript:;">原谅我就是这样的女生 - 戴佩妮</a></li>
	        <li><a href="javascript:;">猜不透 - 丁当</a></li>
	        <li><a href="javascript:;">自导自演 - 周杰伦</a></li>
	        <li><a href="javascript:;">浪漫窝 - 弦子</a></li>
	        <li><a href="javascript:;">流年 - 王菲</a></li>
	    </ul>

	</div>
	<script src="../js/js15.js"></script>
</body>
</html>