<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>js的38个案列(跟随鼠标移动（大图展示）)</title>
	<link rel="stylesheet" href="../css/demo38.css">
</head>
<body>
	<div id="box">
	    <ul>
	    	<li><img src="../img/shirt_1.jpg" /></li>
	        <li><img src="../img/shirt_2.jpg" /></li>
	        <li><img src="../img/shirt_3.jpg" /></li>
	        <li><img src="../img/shirt_4.jpg" /></li>
	    </ul>
	</div>
	<div id="big">
		<div></div>
	</div>
<script src="../js/demo38.js"></script>
</body>
</html>