<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>汽车logo</title>
	<link rel="stylesheet" href="../css/style12.css">
</head>
<body>
	<ul>
		<li><img src="../img/12/1.jpg" alt=""></li>
		<li><img src="../img/12/2.jpg" alt=""></li>
		<li><img src="../img/12/3.jpg" alt=""></li>
		<li><img src="../img/12/4.jpg" alt=""></li>
		<li><img src="../img/12/5.jpg" alt=""></li>
		<li><img src="../img/12/6.jpg" alt=""></li>
		<li><img src="../img/12/7.jpg" alt=""></li>
		<li><img src="../img/12/8.jpg" alt=""></li>
		<li><img src="../img/12/9.jpg" alt=""></li>
		<li><img src="../img/12/10.jpg" alt=""></li>		
	</ul>
	<script src="../js/js12.js"></script>
</body>
</html>