*{
	margin: 0;
	padding:0;
}
.wrap{
	width:400px;
	height: 300px;
	margin:20px auto;
}
.wrap button{
	margin-bottom: 20px;
}
.wrap .block div{
	width:100px;
	height: 100px;
	background: #000;
	float: left;
	margin-left: 20px;

}