*{
	margin:0;
	padding:0;
}
#wrap{
	width:180px;
	height: 180px;
	margin:30px auto;
	background: #000;
	color:#fff;
	border:10px solid #000;
	font-size: 14px;
} 
#wrap.hover{
	 background:#ccc;
	border:10px solid #f00;
	color:#f00; 

}